<!DOCTYPE html>
<html lang="en">
{{> head }}

<body>
    {{> navbar }}
    <br>
    <div class="row">
        <div class="col-7 d-flex flex-column justify-content-center align-items-center">
            <h1 class="d-flex justify-content-center align-items-center">
                App Nodejs Express with partials in HBS.
            </h1>
            <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam optio rerum vero odit
                laboriosam quam,
                veritatis eligendi eum quisquam aliquid molestias, ad maxime. Vitae fugit, molestias nostrum itaque
                eveniet corrupti.</p>
        </div>

        <div class="col-5 d-flex justify-content-center align-items-center">
            <img src="/assets/img/about-img.png" class="img-thumbnail">
        </div>
    </div>

    {{> footer }}
</body>

</html>